#splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash img {
  height: 500px;
  width: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #528e75;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.circle::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #528e75;
  border-radius: 50%;
  opacity: 0.7;
  animation: loading 2s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.circle:nth-child(2)::before {
  animation-delay: 0.3s;
}

.circle:nth-child(3)::before {
  animation-delay: 0.6s;
}

.circle:nth-child(4)::before {
  animation-delay: 0.9s;
}

.circle:nth-child(5)::before {
  animation-delay: 1.2s;
}
